In [18]:
import pandas as pd

In [19]:
from pandas import Series

In [20]:
obj = Series([3,7,10,13])

In [21]:
obj

0     3
1     7
2    10
3    13
dtype: int64

In [22]:
import numpy as np

numpy_array = np.array([3,7,10,13])

Series(numpy_array)

0     3
1     7
2    10
3    13
dtype: int64

In [23]:
obj.values

array([ 3,  7, 10, 13])

In [24]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [25]:
r.index(8)

2

In [26]:
obj2 = Series([3,7,10,13], index=['apple', 'orange', 'mango', 'peach'])

In [28]:
obj2

apple      3
orange     7
mango     10
peach     13
dtype: int64

In [30]:
obj2['mango']

10

In [31]:
obj2[['apple', 'mango', 'orange']]

apple      3
mango     10
orange     7
dtype: int64

In [32]:
obj2[obj2>=5]

orange     7
mango     10
peach     13
dtype: int64

In [33]:
obj2>=5

apple     False
orange     True
mango      True
peach      True
dtype: bool

In [35]:
data = {'Tokyo':1200, 'Sapporo':800, 'Osaka':1100, 'Okinawa':200}

In [37]:
obj3 = Series(data)

In [38]:
obj3

Okinawa     200
Osaka      1100
Sapporo     800
Tokyo      1200
dtype: int64

In [39]:
prefecture = ['Tokyo', 'Sapporo', 'Osaka', 'Okinawa', 'Fukuoka']

In [40]:
obj4 = Series(data,index=prefecture)

In [41]:
obj4

Tokyo      1200.0
Sapporo     800.0
Osaka      1100.0
Okinawa     200.0
Fukuoka       NaN
dtype: float64

In [45]:
pd.isnull(obj4)

Tokyo      False
Sapporo    False
Osaka      False
Okinawa    False
Fukuoka     True
dtype: bool

In [46]:
pd.notnull(obj4)

Tokyo       True
Sapporo     True
Osaka       True
Okinawa     True
Fukuoka    False
dtype: bool

In [47]:
df = pd.DataFrame(
    {'名前': ['山田', '鈴木', '佐藤', '田中', '斉藤'],   # 長さ：５
     '年齢': [20, 34, 50, 12, 62],                           # 長さ：5
     '性別':['男', '男', '女', '男', '女']                        # 長さ:5
    }
)

df

   名前  年齢 性別
0  山田  20  男
1  鈴木  34  男
2  佐藤  50  女
3  田中  12  男
4  斉藤  62  女

In [48]:
df = pd.DataFrame(
    {'名前': {1:'山田', 2:'鈴木', 3:'佐藤', 4:'田中', 5:'斉藤'},
     '年齢': np.array([20, 34, 50, 12, 62]),
     '性別': pd.Series(['男', '男', '女', '男', '女'])},
    columns=['名前', '性別', '年齢'],      # 順番の指定
    index=[1,2,3,4,5]                            # インデックスの指定
)

df

   名前   性別  年齢
1  山田    男  20
2  鈴木    女  34
3  佐藤    男  50
4  田中    女  12
5  斉藤  NaN  62

In [49]:
# DataFrameを定義する
data = pd.DataFrame( {'国・地域': {1: 'アメリカ合衆国', 2: 'ソビエト連邦', 3: '日本（開催国）', 4: '東西統一ドイツ', 5: 'イタリア', 6: 'ハンガリー', 7: 'ポーランド', 8: 'オーストラリア', 9: 'チェコスロバキア', 10: 'イギリス'},
 '計': {1: 90, 2: 96, 3: 29, 4: 50, 5: 27, 6: 22, 7: 23, 8: 18, 9: 14, 10: 18},
 '金': {1: 36, 2: 30, 3: 16, 4: 10, 5: 10, 6: 10, 7: 7, 8: 6, 9: 5, 10: 4},
 '銀': {1: 26, 2: 31, 3: 5, 4: 22, 5: 10, 6: 7, 7: 6, 8: 2, 9: 6, 10: 12},
 '銅': {1: 28, 2: 35, 3: 8, 4: 18, 5: 7, 6: 5, 7: 10, 8: 10, 9: 3, 10: 2},
 '順': {1: 'アメリカ合衆国',
          2: 'ソビエト連邦',
          3: '日本',
          4: '東西統一ドイツ',
          5: 'イタリア',
          6: 'ハンガリー',
          7: 'ポーランド',
          8: 'オーストラリア',
          9: 'チェコスロバキア',
          10: 'イギリス'}}
)

In [50]:
data

        国・地域   計   金   銀   銅         順
1    アメリカ合衆国  90  36  26  28   アメリカ合衆国
2     ソビエト連邦  96  30  31  35    ソビエト連邦
3    日本（開催国）  29  16   5   8        日本
4    東西統一ドイツ  50  10  22  18   東西統一ドイツ
5       イタリア  27  10  10   7      イタリア
6      ハンガリー  22  10   7   5     ハンガリー
7      ポーランド  23   7   6  10     ポーランド
8    オーストラリア  18   6   2  10   オーストラリア
9   チェコスロバキア  14   5   6   3  チェコスロバキア
10      イギリス  18   4  12   2      イギリス

In [52]:
data.columns

Index(['国・地域', '計', '金', '銀', '銅', '順'], dtype='object')

In [53]:
data['順']

1      アメリカ合衆国
2       ソビエト連邦
3           日本
4      東西統一ドイツ
5         イタリア
6        ハンガリー
7        ポーランド
8      オーストラリア
9     チェコスロバキア
10        イギリス
Name: 順, dtype: object

In [54]:
data2 = pd.DataFrame(data, columns=['国・地域', '金', '銀', '銅', '計'])

In [55]:
data2

        国・地域   金   銀   銅   計
1    アメリカ合衆国  36  26  28  90
2     ソビエト連邦  30  31  35  96
3    日本（開催国）  16   5   8  29
4    東西統一ドイツ  10  22  18  50
5       イタリア  10  10   7  27
6      ハンガリー  10   7   5  22
7      ポーランド   7   6  10  23
8    オーストラリア   6   2  10  18
9   チェコスロバキア   5   6   3  14
10      イギリス   4  12   2  18

In [56]:
data2.ix[3]

国・地域    日本（開催国）
金            16
銀             5
銅             8
計            29
Name: 3, dtype: object

In [57]:
data2.head()

      国・地域   金   銀   銅   計
1  アメリカ合衆国  36  26  28  90
2   ソビエト連邦  30  31  35  96
3  日本（開催国）  16   5   8  29
4  東西統一ドイツ  10  22  18  50
5     イタリア  10  10   7  27

In [58]:
data2.head(3)

      国・地域   金   銀   銅   計
1  アメリカ合衆国  36  26  28  90
2   ソビエト連邦  30  31  35  96
3  日本（開催国）  16   5   8  29

In [59]:
data.tail()

        国・地域   計   金   銀   銅         順
6      ハンガリー  22  10   7   5     ハンガリー
7      ポーランド  23   7   6  10     ポーランド
8    オーストラリア  18   6   2  10   オーストラリア
9   チェコスロバキア  14   5   6   3  チェコスロバキア
10      イギリス  18   4  12   2      イギリス

In [60]:
data3 = pd.DataFrame(data, columns=['国・地域', '金', '銀', '銅', '計', '選手数'])

In [61]:
data3

        国・地域   金   銀   銅   計  選手数
1    アメリカ合衆国  36  26  28  90  NaN
2     ソビエト連邦  30  31  35  96  NaN
3    日本（開催国）  16   5   8  29  NaN
4    東西統一ドイツ  10  22  18  50  NaN
5       イタリア  10  10   7  27  NaN
6      ハンガリー  10   7   5  22  NaN
7      ポーランド   7   6  10  23  NaN
8    オーストラリア   6   2  10  18  NaN
9   チェコスロバキア   5   6   3  14  NaN
10      イギリス   4  12   2  18  NaN

In [64]:
import numpy as np
data3['選手数'] = np.arange(10)

In [65]:
data3

        国・地域   金   銀   銅   計  選手数
1    アメリカ合衆国  36  26  28  90    0
2     ソビエト連邦  30  31  35  96    1
3    日本（開催国）  16   5   8  29    2
4    東西統一ドイツ  10  22  18  50    3
5       イタリア  10  10   7  27    4
6      ハンガリー  10   7   5  22    5
7      ポーランド   7   6  10  23    6
8    オーストラリア   6   2  10  18    7
9   チェコスロバキア   5   6   3  14    8
10      イギリス   4  12   2  18    9

In [66]:
# SeriesをDataFrameに追加することもできる
p = Series(['200', '300'], index=[2,5])

data3['選手数'] = p

In [67]:
data3

        国・地域   金   銀   銅   計  選手数
1    アメリカ合衆国  36  26  28  90  NaN
2     ソビエト連邦  30  31  35  96  200
3    日本（開催国）  16   5   8  29  NaN
4    東西統一ドイツ  10  22  18  50  NaN
5       イタリア  10  10   7  27  300
6      ハンガリー  10   7   5  22  NaN
7      ポーランド   7   6  10  23  NaN
8    オーストラリア   6   2  10  18  NaN
9   チェコスロバキア   5   6   3  14  NaN
10      イギリス   4  12   2  18  NaN

In [68]:
del data3 ['選手数']

In [69]:
data3

        国・地域   金   銀   銅   計
1    アメリカ合衆国  36  26  28  90
2     ソビエト連邦  30  31  35  96
3    日本（開催国）  16   5   8  29
4    東西統一ドイツ  10  22  18  50
5       イタリア  10  10   7  27
6      ハンガリー  10   7   5  22
7      ポーランド   7   6  10  23
8    オーストラリア   6   2  10  18
9   チェコスロバキア   5   6   3  14
10      イギリス   4  12   2  18

In [70]:
data3.drop(9,axis=0)

       国・地域   金   銀   銅   計
1   アメリカ合衆国  36  26  28  90
2    ソビエト連邦  30  31  35  96
3   日本（開催国）  16   5   8  29
4   東西統一ドイツ  10  22  18  50
5      イタリア  10  10   7  27
6     ハンガリー  10   7   5  22
7     ポーランド   7   6  10  23
8   オーストラリア   6   2  10  18
10     イギリス   4  12   2  18

In [71]:
data3.drop('金',axis=1)

        国・地域   銀   銅   計
1    アメリカ合衆国  26  28  90
2     ソビエト連邦  31  35  96
3    日本（開催国）   5   8  29
4    東西統一ドイツ  22  18  50
5       イタリア  10   7  27
6      ハンガリー   7   5  22
7      ポーランド   6  10  23
8    オーストラリア   2  10  18
9   チェコスロバキア   6   3  14
10      イギリス  12   2  18

In [72]:
data3.ix[1:6,:]

      国・地域   金   銀   銅   計
1  アメリカ合衆国  36  26  28  90
2   ソビエト連邦  30  31  35  96
3  日本（開催国）  16   5   8  29
4  東西統一ドイツ  10  22  18  50
5     イタリア  10  10   7  27
6    ハンガリー  10   7   5  22

In [73]:
data3.ix[:5,0:2]

      国・地域   金
1  アメリカ合衆国  36
2   ソビエト連邦  30
3  日本（開催国）  16
4  東西統一ドイツ  10
5     イタリア  10