In [12]:
a = 1
b = 2
c =3

In [13]:
a ==1

True

In [14]:
b ==1

False

In [15]:
b  !=1

True

In [16]:
a >2

False

In [17]:
a <2

True

In [18]:
(a < b) and (b < c)

True

In [19]:
(a <b) or (b >c)

True

In [20]:
a

1

In [21]:
b

2

In [22]:
b

2

In [23]:
c

3

In [24]:
not(a>b)

True

In [25]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
'c' in alphabet

True

In [27]:
'g' in alphabet

False

In [28]:
money = 500

In [29]:
if money >=100:
    money -=100

In [30]:
money

400

In [33]:
money = 75
if money>=100:
    money -=100
else:
        print('帰ります')

帰ります

In [34]:
money

75

In [43]:
money =75
if money >=100:
    money -= 100
elif money >=50:
    money -= 50
else:
    print('帰ります')

In [44]:
money

25

In [45]:
members = ['田中一郎', '佐藤二郎', '鈴木三郎']

In [46]:
for name in members:
    print(name)

田中一郎
佐藤二郎
鈴木三郎

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

In [49]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [51]:
for e in range(0,10,2):
    print(e)

0
2
4
6
8

In [52]:
members = ['田中一郎', '佐藤二郎', '鈴木三郎']
menu = ['肉', '野菜', '魚']

In [53]:
for food, name in zip(menu,members):
    print('{}さんは、{}を食べます'.format(name,food))

田中一郎さんは、肉を食べます
佐藤二郎さんは、野菜を食べます
鈴木三郎さんは、魚を食べます

In [54]:
members = ['田中一郎', '佐藤二郎', '鈴木三郎']

In [55]:
for i, name in enumerate(members):
    print('会員No.{}:'.format(i) + name)

会員No.0:田中一郎
会員No.1:佐藤二郎
会員No.2:鈴木三郎